@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */
* {
    margin: 0;
    padding: 0;
}

/* hero-section style */
.btn-container {
    text-align: center;
}

.btn {
    padding: 21px 24px 21px 24px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    border: none;
    cursor: pointer;
}

#hero-section {
    height: 615px;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-section .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-section .hero-content .hero-img {
    margin-bottom: 10px;
}

#hero-section .hero-content .title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 14px;
}

.description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.margin {
    margin-bottom: 32px;
}

/* main-style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* whyweb-section style */
#whyweb {
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px 95px;
    margin-top: 70px;
    margin-bottom: 90px;
}

#whyweb .whyweb-container {
    max-width: 945px;
}

.intro-header {
    margin-bottom: 48px;
}

.intro-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.intro-answer {
    margin-bottom: 45px;
}

#whyweb .whyweb-container .detail-out-container {
    align-items: center;
}

.detail-in-container {
    display: flex;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    padding: 48px;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 95px;
}

.detail-in-container2 {
    display: flex;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgba(255, 255, 255, 0), rgb(255, 255, 255) 100%);
    padding: 48px;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 95px;
}

.part-inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 470px;
}

.part-inside .heading {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.explain {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
}

.margin2 {
    margin-bottom: 32px;
}

.btn-type2 {
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    cursor: pointer;
}

/* inspiration section style */
#inspiration {
    margin-bottom: 150px;
}

.new-margin {
    margin: 0 144px;
}

.video {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}

.video iframe {
    width: 1075px;
    height: 550px;
}

/* current tagert section style */
#current-target {
    margin-bottom: 111px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.card-1 {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}

.card-2 {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
}

.card-3 {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
}

.card-head {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
}

.margin3 {
    margin-bottom: 24px;
}

.link {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

/* next target section style */
#next-target {
    margin-bottom: 45px;
}

/* I need support section style */
#support {
    height: 310px;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 80px;
}

.support-head {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}

.support-detail {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 24px;
}

.submit-part {
    display: flex;
    gap: 16px;
}

.input {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    width: 540px;
}

::placeholder {
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: start;
}

.button {
    padding: 17px 20px 17px 20px;
    border: none;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}

/* footer style */
#last {
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.03);
    padding: 32px 150px 32px 150px;
}

.out-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-text {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.in-div {
    display: flex;
    gap: 24px;
}